body {
  background: #f9f9f9;
  color: #202021;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #4449f6;
}

.container {
  margin: 80px auto;
  max-width: 90%;
  width: 600px;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.5;
}
h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

h1,
h2 {
  text-align: center;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 10px 40px rgba(65, 50, 100, 0.08);
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 14px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
  color: #272044;
}

.submit-button {
  background: #4449f6;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px;
  cursor: pointer;
}

.problems {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 30px;
  border-left: 3px solid #4449f6;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    max-width: 95%;
    margin: 50px auto;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 14px;
  }

  .form-container {
    padding: 14px;
  }

  .instructions {
    font-size: 14px;
    padding: 12px 8px;
    width: 90%;
  }

  .submit-button {
    font-size: 14px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  form {
    flex-direction: column;
  }
  .submit-button {
    width: 30%;
  }
}
